@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@200;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

/* *{
    font-family: 'Ubuntu', sans-serif   ;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}
 */
:root{
    --text-theme-color: rgb(255, 115, 0);
    --text-cl-orange: rgb(248, 248, 248);
    --text-cl-white: rgb(255, 255, 255);
    --cl-darkgray:  rgb(37, 37, 37);
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cl-darkgray);
    overflow-x: hidden;
}

.header{
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    position: fixed;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transition: all 0.3s ease;
}

.bg-tr{
    background-color: var(--cl-darkgray);
}

.sticky{
    height: 7rem;
    background-color: var(--cl-darkgray);
    z-index: 9999;
}


.primary-header{
    position: relative;
    height: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.primary-header a{
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    text-decoration: none;
    color: white;
}


.primary-header a span{
    color: var(--text-theme-color);
    font-weight: 800;
}

.logo a{
    margin-left: 20px;
}


.menu-hamburger{
    color: var(--text-cl-white);
    scale: 2;
}

.hamburger__pos{
    margin: 35px;
}

.menu-hamburger:hover{
    color: var(--text-theme-color);
    cursor: pointer;
}

.secondary-header{
    width: 100%;
    height: 800px;
    transition: all 0.3s ease;
    background-color: var(--cl-darkgray);
}


.secondary-header-menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease;
    padding: 0;

}

.secondary-header menu li{  
    text-align: center;
    padding: 20px 0 20px 0;
}


.cl-white-text{
    color: var(--text-cl-white);
}

.cl-theme-text{
    color: var(--text-theme-color);
}

.menu-item{
    align-items: center;
    font-style: bold;
    font-size: 25px;
    font-weight: 400;
    color: var(--text-cl-orange);
    /* background-color: var(--cl-darkgray); */
    border: 1px solid transparent;
}

.menu-item:hover{
    cursor: pointer;
    font-size: 25px;
    font-weight: 500;
    border: 1px solid var(--text-theme-color);
    transition: 500ms cubic-bezier(.18,.89,.32,1.28);
    color: var(--text-theme-color);

}


.home{
    display: flex;
    background: url("../img/adjusted-cover.jpg") no-repeat center;
    height: 100vh;  
    background-size: cover;
    background-attachment: fixed;
    color: white;
    min-height: 500px;
    
}



.max-width{
    max-width: 100vw;
    margin: 0;
}

.home .max-width{
    color: white;
    margin: auto;
    /* transform: translateX(-70%); */
    margin-bottom: 10%;
    font-family: 'Ubuntu', sans-serif;
    transition: 0.2s ease-in;
}


.home .home-content .text-1{
    font-size: 1.5rem;
}

.home .home-content .text-2{
    font-size: 3rem;
    font-weight: 600;
}

.home .home-content .text-3{
    font-size: 1.5rem;
}

.home .home-content .text-3 span{
    color: var(--text-theme-color);
    font-weight: 600;
}

.about-content-wrapper{
    margin: 30px;
    text-align: justify;
}

.about-me-container{
    position: relative;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.about-content-header{
    text-align: center;
}

.about-me__name{
    padding-top: 4rem;
    font-size: 2rem;
    position: relative;
    margin: auto;
}

.about-me__desc{
    padding-top: 4rem;
    font-size: 1.5rem;
    position: relative;
    margin: auto;
    padding-bottom: 4rem;
}

.aboutme{
    position: relative;
    overflow: hidden;
}

.story--header-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.story--header{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;

}


.story--header > span{
    font-size: 1.3rem;
}


.btn-cv-download{
    padding: 8px;
    background-color: var(--text-theme-color);
    border-radius: 10px;
    
}


.btn-cv-download a{
    text-decoration: none;
    color: var(--text-cl-white);

}

.btn-cv-download:hover{
    border: 1px solid var(--text-theme-color);
    padding: 7px;
    background-color: unset;
    cursor: pointer;
}

.story--desc{

    margin-top: 20px;
}


a{
    color: rgb(252, 218, 178);
    text-decoration: none;
}

a:hover{
    color: var(--text-theme-color);
}

.youtube-embed-wrapper{
    text-align: center;
    margin: 0;
    padding: 0;
}

.embed-figure{
    margin: auto;
}

.portfolio-container{
    margin: 30px;
    text-align: justify
}


.story-heading{
    text-align: center;
}

/* FOOTER STYLES */

.footer-container{
    background-color: rgb(100, 100, 100);
    width: 100%;
    height: 10rem;
    margin-top: 3rem;
    text-align: center;
    color: var(--text-cl-white);
}

.footer-header{
   padding-top: 20px;
}

.sm-container-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-item-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    scale: 0.8;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;
}

.footer-item-icon img{
    width: 32px;
}

.footer-item-icon:hover{
    scale: 1;
    cursor: pointer;
    color: var(--text-theme-color);
}












/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* Up to 1400 */
@media screen and (min-width: 1400px) {

}